.App {
  padding: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.all-countries-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.one-country-box {
  width: 150px;
}

.one-country-box img {
  aspect-ratio: 16/9;
}
