/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%;
}

/*-------------*/

nav {
    margin-bottom: 10px;
}

.navbar .container-fluid,
body .container {
    max-width: 1000px;
}

.image {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.navbar-toggler {
    font-size: 16px;
    padding: 5px 8px;
}

.do-not-like-list .container {
    width: 50%;
}