.bg-dark {
    background-color: black;
    color: white;
}

#my-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

#my-form input,
#my-form button {
    width: 90%;
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 16px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items li {
    font-size: 20px;
}