/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%;
}

/*-------------*/

.page-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1000px;
    height: 900px;
    margin: auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;

    background-color: #e6e6e6;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-height: 60px;
    padding: 5px 20px;
    background-color: #fff;
    border-bottom: 3px solid #3399cd;
}

.logo-container {
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    display: inline;

}

.nav-links a {
    text-decoration: none;
    color: #3399cd;
}

.nav-links span {
    padding: 0 3px 0 8px;
    color: #000;
}

.main-content-container {
    display: flex;
    width: 94%;
    height: 600px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    margin: 20px auto 30px;
}