/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #999;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.03em;
    color: #344358;
}

h1 {
    font-family: "Merriweather Sans", serif;
    font-style: normal;
    font-optical-sizing: auto;
    letter-spacing: -0.01em;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 40px;
}

/* Center the form container */
.screen-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 740px;
    height: 800px;

    background-color: white;
    border-radius: 20px;
    padding: 14px 20px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-box-1,
.icon-box-2,
.icon-box-3 {
    display: flex;
    align-items: center;
}

.icon-box-2 {
    justify-content: center;
}

.form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 366px;
    height: 580px;
    margin: 36px auto;
}

.white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 366px;

    border: 1px solid #d0dadf;
    background-color: white;
    border-radius: 30px;
    padding: 11px 0;

    font-size: 0.9em;
    letter-spacing: -0.05em;
    font-weight: 600;
    text-align: center;
}

.black-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 366px;

    background-color: #0f141a;
    border-radius: 30px;
    padding: 10px 0;
    margin-bottom: 30px;

    font-size: 0.9em;
    color: white;
    font-weight: 600;
    text-align: center;
}

.google-button {
    letter-spacing: -0.04em;
    margin-bottom: 30px;
}

.apple-button {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 20px;
}

.forgot-button {
    font-size: 1em;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 62px;
}

.divider-with-text {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 16px;
}

.divider-with-text p {
    height: 20px;
    line-height: 1em;
}

.divider-line {
    display: flex;
    align-items: center;
    width: 43%;
    height: 2px;
    text-align: center;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #d0dadf;
}

.login-input-text {
    border: 1px solid #d0dadf;
    border-radius: 5px;
    padding: 22px 8px;
    color: #2e3744;
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: 500;
    margin-bottom: 30px;
}

a {
    color: #03a9f4;
    text-decoration: none;
}